@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* src/pages/Home.module.css */
.container {
  padding: 20px;
  background-color: #f0f0f0;
}
  
.title {
  font-family: 'Outfit';
  font-size: 2.5em;
  font-weight: 800;
  color: #333;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }