<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Tenis | Panel Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_rec/admin.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('home')}}">Inicio</a></li>
                <li><a href="{{url_for('productos')}}">Productos</a></li>
                <li><a href="{{url_for('pedidos')}}">Pedidos</a></li>
                <li><a href="{{url_for('admin_panel')}}">Admin.</a></li>
            </ul>
        </nav>
    </header>
    <main>
        
    </main>
    <footer>
        <p>&copy; 2024 Tienda de Tenis</p>
    </footer>
</body>
</html>
