<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precision Kicks | Panel Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_rec/paneladmin.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='icon.svg') }}">
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <header>
            <nav>
                <ul>
                    <li><a href="{{url_for('admin_panel')}}">Inicio</a></li>
                    <li><a href="{{url_for('admin_listar_productos')}}">Administrar Productos</a></li>
                    <li><a href="{{url_for('admin_listar_clientes')}}">Administrar Clientes</a></li>
                    <li><a href="{{url_for('productos')}}">Administrar Pedidos</a></li>
                    <li><a href="{{url_for('logout')}}">Salir</a></li>
                </ul>
            </nav>
        </header>
        <main class="flex-grow-1">
            <div class="panel-container">
                <h1>Bienvenido al Panel de Administración</h1>
                <p>Accede a las funcionalidades administrativas aquí.</p>
                <div class="admin-options">
                    <a class="admin-option" href="{{ url_for('admin_agregar') }}">Agregar productos nuevos</a>
                    <a class="admin-option" href="{{ url_for('admin_listar_productos') }}">Gestionar y editar productos</a>
                    <a class="admin-option" href="{{ url_for('admin_listar_clientes') }}">Gestionar usuarios</a>
                    <a class="admin-option" href="{{ url_for('admin_listar_pedidos') }}">Gestionar pedidos</a>
                    <a class="admin-option" href="{{ url_for('admin_listar_productos') }}">Añadir administradores</a>
                    <a class="admin-option" href="{{ url_for('admin_listar_productos') }}">Gestionar y editar administradores</a>
                    <a class="admin-option" href="{{ url_for('admin_listar_auditorias') }}">Auditorias de cambios</a>
                    <a class="admin-option" href="{{ url_for('logout') }}">Cerrar Sesión</a>
                </div>
            </div>
        </main>
        <footer>
            <p>&copy; 2024 Precision Kicks</p>
        </footer>
    </div>
</body>
</html>
