@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  font-size: 1.2rem;
  font-family: 'Anton SC';
}

nav ul li a:hover,
nav ul li a:focus {
  background-color: #555;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: #f0f0f0;
}

.form-container {
  width: 100%;
  max-width: 600px; /* Ajusta el tamaño del contenedor */
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mb-4 {
  font-family: 'Anton SC';
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.alert {
  width: 100%;
  margin-top: 1rem;
}
